/* GENERAL */

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: black;
}

body {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* GALLERY */

@media (min-width: 100px) and (max-width:400px) {
    .gallery {
        --z: 1px;
        /* control the zig-zag  */
        --s: 360px;
        /* control the size */
        --g: 8px;
        /* control the gap */
    
        display: grid;
        gap: var(--g);
        width: 100vw;
        height: 80;
        overflow: hidden;
        grid-auto-flow: column;
    }
    h1 {
        font-size: 44px;
        font-family: 'Belanosima', sans-serif;
        text-align: center;
        color: white;
        position: sticky;
        bottom: 60px;
        display: block;
    }

    p {
        font-size: 100px;
        font-family: 'Caprasimo', cursive;
        text-align: left;
        margin: auto;
        position: sticky;
        width: 95%;
        bottom: 100px;
        display: none;
        border-radius: 10px;
        padding: 2px;
    }

    .gallery .figure {
        width: 0;
        min-width: calc(100% + var(--z)/1);
        height: 80vh;
        overflow: hidden;
        object-fit: cover;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        cursor: pointer;
        transition: .5s;
    }

    .gallery .figure img {
        min-width: calc(100% + var(--z)/1);
        height: 80vh;
        object-fit: cover;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 24px;
        font-family: 'Belanosima', sans-serif;
        text-align: center;
        color: white;
        position: sticky;
        bottom: 10px;
        display: block;
    }

    p {
        font-size: 30px;
        font-family: 'Caprasimo', cursive;
        text-align: left;
        margin: auto;
        position: sticky;
        width: 95%;
        bottom: 50px;
        display: none;
        border-radius: 10px;
        padding: 2px;
    }

    .gallery .figure {
        width: 0;
        min-width: calc(100% + var(--z)/1);
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        cursor: pointer;
        transition: .5s;
    }

    .gallery .figure img {
        min-width: calc(100% + var(--z)/1);
        height: 100%;
        object-fit: cover;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    .gallery {
        --z: 1px;
        /* control the zig-zag  */
        --s: 360px;
        /* control the size */
        --g: 8px;
        /* control the gap */
    
        display: grid;
        gap: var(--g);
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        grid-auto-flow: column;
    }
}

.gallery .figure:hover p {
    display: block;
    animation: fadeInAnimation ease-in 2s;
}

.gallery .figure:hover {
    width: calc(var(--s)/1);
}

.gallery .figure:hover img {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.gallery .figure:first-child {
    place-self: start;
    clip-path: polygon(calc(2*var(--z)) 0, 100% 0, 100% 100%, 0 100%);
    --mask:
        conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) 50%/100% calc(2*var(--z)) repeat-y;
}

.gallery .figure:last-child {
    place-self: end;
    clip-path: polygon(0 0, 100% 0, calc(100% - 2*var(--z)) 100%, 0 100%);
    --mask:
        conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
}





.about {
    color: white;
}

.about a {
    color: rgb(255, 58, 156);
}

.about a:hover {
    color: red;
    text-decoration: underline;
}

.research {
    color: white;
}

.research a {
    color: #f2f542;
}

.research a:hover {
    color: rgb(233, 30, 255);
    text-decoration: underline;
}


.history {
    color: white;
}

.history a {
    color: rgb(21, 206, 0);
}

.history a:hover {
    color: rgb(234, 255, 116);
    text-decoration: underline;
}


.papers {
    color: rgb(255, 234, 78);
}

.papers a {
    color: rgb(255, 255, 255);
}

.papers a:hover {
    color: rgb(205, 205, 205);
    text-decoration: underline;
}

.extra {
    color: rgb(217, 156, 255);
}

.extra a{
    color: rgb(255, 255, 255);
}

.extra a:hover{
    color: rgb(225, 255, 30);
}

.contact {
    color: rgb(255, 255, 255);
}

.contact a {
    color: rgb(197, 170, 255);
}

.contact a:hover {
    color: rgb(166, 240, 255);
    text-decoration: underline;
}

