
/* FADE IN AND FADEOUT*/
.content {
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadeout 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* TEST CODE */
.test-font h1 {
    font-family: 'Calistoga', serif !important;
    font-weight: 400 !important;
    color: #1e1f24 !important;
}

/* GENERAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif !important;
    /* font-family: 'Calistoga', serif !important; */
    font-weight: 400 !important;
    color: #1e1f24 !important;
}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }

  
html,
body {
    scroll-behavior: smooth;
    height: 100%;
    background-color: #fffefc !important;
}

h1 {
    font-size: 50px !important;
    font-weight: 900 !important;
}

h2 {
    font-size: 48px !important;
    font-weight: 900 !important;
}

h3 {
    font-size: 36px !important;
    font-weight: 900 !important;
}

/* h3 a {
    color: black !important;
    text-decoration: none !important;
} */

/* h3 a:hover {
    color:rgb(53, 182, 91)!important;
    text-decoration: none !important;
    text-decoration-color: black !important;
} */

h4 {
    font-size: 28px !important;
    font-weight: 900 !important;
}

p {
    font-family: 'Outfit', sans-serif !important;
    /* font-family: 'Calistoga', serif !important; */
    font-size: large;
    font-weight: 400;
    color: #1e1f24;
}

p a {
    color: rgb(85, 73, 255) !important;
    text-decoration: underline !important;
}

p a:visited {
    color: rgb(180, 108, 247) !important;
}

p a:hover {
    color: rgb(53, 182, 91) !important;
    text-decoration: underline !important;
}

.content {
    flex: 1 0 auto;
}

::selection {
    background: rgb(53, 182, 91);
    /* WebKit/Blink Browsers */
    color: #fffefc;
}

::-moz-selection {
    background: rgb(53, 182, 91);
    /* WebKit/Blink Browsers */
    color: #fffefc;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid indigo;
    border-radius: 10px;
}

.center-img:hover {
    border: 3px solid rgb(85, 73, 255) !important;
}

.center-text {
    text-align: center;
}

/* NAVBAR */
.navbar {
    font-family: 'Outfit', sans-serif !important;
    /* font-family: 'Calistoga', serif !important; */
    font-weight: 500;
    /* font-style: normal; */
    text-shadow: -1px 0 #fffefc, 0 1px #fffefc, 1px 0 #fffefc, 0 -1px #fffefc;
    background-color: #fffefc !important;

}

.navbar a:hover {
    color: rgb(85, 73, 255) !important;
}

.navbar-brand {
    font-weight: bolder;
}
.navbar-brand img {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.navbar-nav {
    margin-right: 20px;
}

.nav-link {
    padding-left: 10px;
    color: black !important;
    font-weight: bolder;
}

.active {
    /* text-decoration: underline !important; */
    color: rgb(53, 182, 91) !important;
    font-weight: bolder;
    /* color: white !important; */
    /* border-radius: 20px; */
    /* padding-left: 10px; */
}

.navbar.scrolled {
    background-color: #fffefc !important;
    transition: background-color 200ms linear;
  }



/* CONTAINERS */

.content .container {
    padding-top: 60px !important;
    max-width: 960px !important;
}

.project {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 0px;
    /* border: 5px solid rgb(53, 182, 91); */
    border-radius: 15px;
}

.project img {
    background-color: transparent !important;
}

.row {
    display: inline-block ;
    height: 100% !important;
    vertical-align: middle !important;
}

/* .project a {
    /* text-decoration: none !important; */
    /* color: #1e1f24 !important; */
/* } */

/* .project:hover { */
    /* border: 5px solid rgb(166, 128, 255) */
/* } */

/* .project:hover p { */
    /* color: rgb(53, 182, 91) !important; */
/* } */

/* .project:hover a { */
    /* color: rgb(53, 182, 91) !important; */
/* } */

/* .project:hover img {
    border: 3px solid rgb(53, 182, 91);
} */ */

.mapping-project {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 0px;
    border: 5px solid rgb(53, 182, 91);
    border-radius: 15px;
}

.mapping-project:hover {
    border: 5px solid rgb(85, 73, 255);
}

.mapping-project a {
    text-decoration: none !important;
    color: black !important;
}

.mapping-project:hover {
    border: 5px solid rgb(85, 73, 255);
}

.mapping-project:hover p {
    color: rgb(53, 182, 91) !important;
}

.mapping-project:hover a {
    color: rgb(53, 182, 91) !important;
}

/* .mapping-project:hover img {
    border: 3px solid rgb(53, 182, 91);
} */

.twitter-timeline {
    border: 3px solid rgb(53, 182, 91);
    border-radius: 15px;
}

/* SPACERS */

#spacer {
    height: 50px;
}

@media screen and (max-width:1000px) {
    #spacer {
        display: none !important;
    }
}

/* IMAGES */

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(85, 73, 255);

}

.profile:hover {
    border: 5px solid rgb(53, 182, 91);
    background-image: url(../images/daisy.gif);
    background-size: contain;
}

.charlie {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(85, 73, 255);
}

.charlie:hover {
    border: 5px solid rgb(53, 182, 91);
    background-image: url(../images/daisy.gif);
    background-size: contain;

}

.preview {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    /* border: 3px solid rgb(255, 255, 255); */
}

/* FOOTER */

body {
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    background-color: #fffefc;
    min-height: 50px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p {
    font-family: 'Outfit', sans-serif !important;
    font-size: small;
    /* color: rgb(0, 175, a0); */
    color: rgb(53, 182, 91);
}
.footer p a {
    font-family: 'Outfit', sans-serif !important;
    font-size: small;
    color: rgb(53, 182, 91) !important;
}
.footer .container {
    max-width: 960px !important;
}

.footer svg {
    height: 15px;
    margin: 5px auto;
    fill: rgb(53, 182, 91);
}

.footer a {
    text-decoration: none !important;
}

.bionomia:hover {
    fill: rgb(85, 73, 255);
}

.scholar:hover {
    fill: rgb(85, 73, 255);
}

.github:hover {
    fill: rgb(85, 73, 255);
}

.bluesky:hover {
    fill: rgb(85, 73, 255);
}

/* PUBLICATIONS */

.pubs {
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Outfit', sans-serif !important;
    font-size: large;
    margin-bottom: 20px;
    text-indent: -36px;
    padding-left: 36px;
}

.pubs a {
    color: rgb(85, 73, 255) !important;
    text-decoration: underline !important;
}

.pubs a:visited {
    color: rgb(180, 108, 247) !important;
}

.pubs a:hover {
    color: rgb(53, 182, 91) !important;
    text-decoration: underline !important;
}

/* DESIGN AND MEDIA */




/* FIGURES */

.figure-caption {
    font-size: small;
    color: rgb(158, 158, 158);
}


/* HOMEPAGE BACKGROUND */
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    color: transparent;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/04.webp) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/08.webp);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/10.webp);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/07.webp);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/09.webp);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/06.webp);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 1 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}