/* FADE IN AND FADEOUT*/
.content {
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation: fadeout 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* GENERAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 400 !important;
    color: black !important;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 48px !important;
}

h3 {
    font-size: 36px !important;
}

/* h3 a {
    color: black !important;
    text-decoration: none !important;
} */

/* h3 a:hover {
    color:rgb(255, 0, 230)!important;
    text-decoration: none !important;
    text-decoration-color: black !important;
} */

h4 {
    font-size: 28px !important;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: large;
    color: black;
}

p a {
    color: black !important;
    text-decoration: underline !important;
    text-decoration-color: black !important;
}

p a:hover {
    color: rgb(255, 0, 230) !important;
    text-decoration: underline !important;
    text-decoration-color: black !important;
}

.content {
    flex: 1 0 auto;
}

::selection {
    background: rgb(255, 0, 230);
    /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: rgb(255, 0, 230);
    /* WebKit/Blink Browsers */
    color: white;
}

/* NAVBAR */
.navbar {
    font-family: 'Outfit', sans-serif !important;
    background-color: white !important;
}

.navbar a:hover {
    color: rgb(0, 255, 0) !important;
}

.navbar-brand {
    font-weight: bolder;
}
.navbar-brand img {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.navbar-nav {
    margin-right: 20px;
}

.nav-link {
    padding-left: 10px;
    color: black !important;
    font-weight: bolder;
}

.active {
    /* text-decoration: underline !important; */
    color: rgb(255, 0, 230) !important;
    font-weight: bolder;
    /* color: white !important; */
    /* border-radius: 20px; */
    /* padding-left: 10px; */
}


/* CONTAINERS */

.content .container {
    padding-top: 60px !important;
    max-width: 960px !important;
}

.project {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 0px;
    border: 5px solid rgb(255, 0, 230);
    border-radius: 15px;
}

.project a {
    text-decoration: none !important;
    color: black !important;
}

.project:hover {
    border: 5px solid rgb(0, 255, 0);
}

.project:hover p {
    color: rgb(255, 0, 230) !important;
}

.project:hover a {
    color: rgb(255, 0, 230) !important;
}

/* .project:hover img {
    border: 3px solid rgb(255, 0, 230);
} */

.mapping-project {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 0px;
    border: 5px solid rgb(255, 0, 230);
    border-radius: 15px;
}

.mapping-project:hover {
    border: 5px solid rgb(0, 255, 0);
}

.mapping-project a {
    text-decoration: none !important;
    color: black !important;
}

.mapping-project:hover {
    border: 5px solid rgb(0, 255, 0);
}

.mapping-project:hover p {
    color: rgb(255, 0, 230) !important;
}

.mapping-project:hover a {
    color: rgb(255, 0, 230) !important;
}

/* .mapping-project:hover img {
    border: 3px solid rgb(255, 0, 230);
} */

.twitter-timeline {
    border: 3px solid rgb(255, 0, 230);
    border-radius: 15px;
}

/* SPACERS */

#spacer {
    height: 100px;
}

@media screen and (max-width:1000px) {
    #spacer {
        display: none !important;
    }
}

/* IMAGES */

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 0);

}

.profile:hover {
    border: 5px solid rgb(255, 0, 230);
    background-image: url(../images/3-orbifold-voronoi-animated.gif);
}

.charlie {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 0);
}

.charlie:hover {
    border: 5px solid rgb(255, 0, 230);
    background-image: url(../images/3-orbifold-voronoi-animated.gif);

}

.preview {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    /* border: 3px solid rgb(255, 255, 255); */
}

/* FOOTER */

body {
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    min-height: 50px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p {
    font-size: small;
    color: rgb(255, 0, 230);
}

.footer .container {
    max-width: 960px !important;
}

.footer svg {
    height: 15px;
    margin: 5px auto;
    fill: rgb(255, 0, 230);
}

.footer a {
    text-decoration: none !important;
}

.twitter:hover {
    fill: rgb(4, 171, 255);
}

.github:hover {
    fill: black;
}

/* PUBLICATIONS */

.pubs {
    font-family: 'EB Garamond', serif;
    font-size: larger;
    margin-bottom: 20px;
    text-indent: -36px;
    padding-left: 36px;
}

.pubs a {
    color: black !important;
    text-decoration: underline !important;
}

.pubs a:hover {
    color: rgb(255, 0, 230) !important;
    text-decoration: underline !important;
    text-decoration-color: black !important;
}

/* FIGURES */

.figure-caption {
    font-size: small;
    color: rgb(158, 158, 158);
}

/* EMBEDDED */

.twitter-timeline {
    margin-top: 64px;
    border: 3px solid rgb(255, 0, 230) !important;
    border-radius: 15px !important;
}